@using JikanDotNet
@model ICollection<Manga>

@{
    ViewData["Title"] = "Index";
}
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Title</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var manga = Model.ElementAt(i);
            <tr>
                <th>
                    <div class="d-flex justify-content-center align-items-center">
                        @manga.Rank
                    </div>
                <td>
                    <div class="container d-inline-flex">
                        <div class="col-md-1" style="margin-right:10px">
                            <img src="@manga.Images.JPG.ImageUrl" alt="One Piece Poster" class="img-fluid mb-3 ">
                        </div>
                        <div class="col-md-10">
                            <div><h6>@manga.Title</h6></div>
                            <div><span>@manga.Type (@manga.Volumes vols)</span></div>
                            <div><span>@manga.Published.From?.ToString("MMM yyyy") - @manga.Published.To?.ToString("MMM yyyy")</span></div>
                            <div><span>@manga.Members members</span></div>
                        </div>
                    </div>
                </td>
                <td><i class="bi bi-star-fill"></i> @manga.Score</td>
            </tr>
        }

    </tbody>
</table>
